{% load static %}


<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left">
                <h5>Blood Donation</h5>
                <p>Be a force for good. Donate blood and save lives. Join our community of donors and make a difference today.</p>
            </div>

            <div class="col-md-4 text-center">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">About Us</a></li>
                    <li><a href="#" class="text-white">Donate</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>

            <div class="col-md-4 text-center text-md-right">
                <h5>Contact Us</h5>
                <p><i class="fas fa-envelope"></i> christianhonore2003@gmail.com</p>
                <p><i class="fas fa-phone"></i> +237 699357180</p>
                <p><i class="fas fa-map-marker-alt"></i>Bafoussam, Cameroon</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <p>&copy; 2024 BBMS. All Rights Reserved.</p>
                <p>Powered By <span class="text-danger">GoldenBrain Tek</span></p>
            </div>
        </div>
    </div>
</footer>