{% load static %}


<nav class="navbar navbar-light navbar-vertical">
    <div class="container d-flex flex-column">
        <a class="navbar-brand mb-3 text-white" href="#">BBMS - Superadmin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVertical" aria-controls="navbarVertical" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse" id="navbarVertical">
            <nav class="nav flex-column navbar-nav">
                <a class="nav-link" href="{% url "dashboard" %}">Dashboard</a>
                <a class="nav-link" href="{% url "all_users" %}">All Users</a>
                <a class="nav-link" href="{% url "all_requests" %}">All Requests</a>
                <a class="nav-link" href="{% url "all_donations" %}">All Donations</a>
                <a class="nav-link" href="#"></a>
            </nav>
        </div>
    </div>
    <a href='{% url "signout" %}'>Logout Here</a>
    <p>Powered By <a class='text-white'>GoldenBrain Tek</a></p>
</nav>